.main{
    height: 93vh;
    background: linear-gradient( rgb(230,212,222), rgb(25,118,210));
    padding: 30px 0 100px;
    /* border:1px solid red; */
}
.container{
    /* border:1px solid green; */
    width: 70%;
    max-height: calc(93vh - 130px);
    /* overflow: hidden; */
    margin: 0 auto;
    background-color:white;
    border-radius:10px;
    display: flex;
}
.container__navbar{
    min-width:265px ;
    background-color:rgb(236,236,249);
    border-radius: 10px 0 0 10px;
    padding:30px 20px;
}

.container__navbar__buttonsBox{
    display: flex;
    line-height: 35px;
    align-items:center;
    margin-bottom: 45px;
}
.navbar__buttonBox__my,.navbar__buttonBox__all{
    width: 50%;
    text-align: center;
    background-color:white;
    cursor:pointer;
}
.navbar__buttonBox__my_active,.navbar__buttonBox__all_active{
    background-color:rgb(154, 145, 200);
    width: 50%;
    text-align: center;
    cursor:pointer;
}
.navbar__buttonBox__my_active:hover,.navbar__buttonBox__all_active:hover,.navbar__buttonBox__my:hover,.navbar__buttonBox__all:hover{
    box-shadow: 0px 0px 10px 1px rgba(97, 97, 97, 0.144);
    transition: box-shadow 0.3s;
}
.container__navbar__buttonsTitle, .container__navbar__rangeTitle{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.container__packsBox{
    padding: 25px 35px;
    width: 100%;
    height: 100%;
}
.container__packsBox__title{
    font-size: 22px;
    margin-bottom: 20px;
}
.container__packsBox__inputAddButtonBox {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    line-height: 35px;
    /* border:1px solid red; */
    margin-bottom: 28px;
}
.packsBox__inputAddButtonBox__inputWrapper, .packsBox__inputAddButtonBox__inputWrapper_active{
    display: flex;
    align-items:center;
    height: 35px;
    border:1px solid;
    width: calc(100% - 190px);
    border-radius:3px;
    background-color:rgb(245,245,252);
    padding: 0 10px;
}
.packsBox__inputAddButtonBox__inputWrapper{
    border-color:rgb(176,173,191) ;
}

.packsBox__inputAddButtonBox__inputWrapper_active{
  border-color:grey;
}
.packsBox__inputAddButtonBox__inputWrapper:hover{
    border-color: grey;
    transition: all 0.2s;
}
.packsBox__inputAddButtonBox__inputWrapper input, .packsBox__inputAddButtonBox__inputWrapper_active input{
    width:100%;
    border:none;
    background-color:transparent;
}
.packsBox__inputAddButtonBox__inputWrapper input:focus, .packsBox__inputAddButtonBox__inputWrapper_active input:focus{
    outline:none;
}
.packsBox__inputAddButtonBox__addButton{
    background-color:rgb(33, 38, 143);
    height:100%;
    color: white;
    width: 170px;
    text-align: center;
    border-radius:25px;
    cursor:pointer;
}
.container__packsBox__table{
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(97, 97, 97, 0.144);


    /* height: 100%; */
    /* border:1px solid red; */
}
.packsBox__table__header{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
    height: 40px;
    line-height: 40px;
    background-color: rgb(236,236,249);
    font-weight: 500;

}
.table__header__name,.table__string__name{
    margin: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table__string__wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
    line-height: 35px;
    height: 35px;
    font-size: 14px;
}
.table__string__wrapper:nth-child(odd){
    background-color: rgb(236,236,249);
}
.table__string__cards{
    margin-left: 15px;
}