.main{
    height: 93vh;
    background: linear-gradient( rgb(230,212,222), rgb(25,118,210));
    padding: 30px 0;
    /* border:1px solid red; */
}
.container{
    /* border:1px solid green; */
    width: 70%;
    max-height: calc(93vh - 60px);
    /* overflow: hidden; */
    margin: 0 auto;
    background-color:white;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    /* styles bellow were written for .container__packsBox */
    padding: 25px 35px;
    overflow-y: scroll;
}
.container::-webkit-scrollbar {
    width: 0;
  }
  .container__header{
    display: flex;
    margin-bottom: 20px;
  }
  .container__header__name{
    font-size: 22px;
    margin-left: 10px;
  }
  .container__inputAddButtonBox {
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* width:100%; */
    line-height: 35px;
    /* border:1px solid red; */
    margin-bottom: 28px;
}
.container__inputAddButtonBox__inputWrapper, .container__inputAddButtonBox__inputWrapper_active{
    display: flex;
    align-items:center;
    height: 35px;
    border:1px solid;
    /* width: calc(100% - 190px); */
    width:100%;
    border-radius:3px;
    background-color:rgb(245,245,252);
    padding: 0 10px;
}
.container__inputAddButtonBox__inputWrapper{
    border-color:rgb(176,173,191) ;
     /* border:1px solid red; */
}

.container__inputAddButtonBox__inputWrapper_active{
  border-color:grey;
}
.container__inputAddButtonBox__inputWrapper:hover{
    border-color: grey;
    transition: all 0.2s;
}
.container__inputAddButtonBox__inputWrapper input, .container__inputAddButtonBox__inputWrapper_active input{
    width:100%;
    border:none;
    background-color:transparent;
}
.container__inputAddButtonBox__inputWrapper input:focus, .container__inputAddButtonBox__inputWrapper_active input:focus{
    outline:none;
}
.container__inputAddButtonBox__addButton{
    background-color:rgb(33, 38, 143);
    height:100%;
    color: white;
    width: 170px;
    text-align: center;
    border-radius:25px;
    cursor:pointer;
    margin-left: 15px;
}
.container__table{
    /* width: 100%; */
    box-shadow: 0px 0px 10px 1px rgba(97, 97, 97, 0.144);
    margin-bottom: 25px;
    /* height: 100%; */
    /* border:1px solid red; */
}
.container__table__header,.container__table__header_withActions{
    display: grid;
    
    height: 40px;
    line-height: 40px;
    background-color: rgb(236,236,249);
    font-weight: 500;
}
.container__table__header{
    grid-template-columns: 2fr 2fr 2fr 1fr;
}
.container__table__header_withActions{
    grid-template-columns: 2fr 2fr 2fr 1fr 2fr;
}
/* .table__string__link{
    text-decoration: none;
    color:black;
} */
.table__header__updated,.table__header__grade{
    display: flex;
    cursor: pointer;
}
.table__header__grade{
    margin-left: 5px;
}
.table__header__iconBox, .table__header__iconBox_open, .table__header__iconBox_closed{
    margin:1px 0 0 5px;
    width: 8px;
    cursor: pointer;
}
.table__header__iconBox img, .table__header__iconBox_open img, .table__header__iconBox_closed img{
   width: 100%;
   height: 100%;
   object-position: center;
   object-fit: contain;
   transition: all 0.3s;
}
.table__header__iconBox_open img{
    transform: rotate(180deg);
    transition: all 0.3s;
}
.table__header__iconBox_closed {
    opacity: 0;
}
.table__header__iconBox_closed:hover{
    opacity: 1;
    transition: all 0.3s;
}
.table__header__question,.table__header__answer,.table__string__question,.table__string__answer{
    margin: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color:black;
}
.table__string__wrapper,.table__string__wrapper_withActions{
    display: grid;
    line-height: 35px;
    height: 35px;
    font-size: 14px;
}
.table__string__wrapper{
    grid-template-columns: 2fr 2fr 2fr 1fr;
}
.table__string__wrapper_withActions{
    grid-template-columns: 2fr 2fr 2fr 1fr 2fr;
}
.table__string__wrapper:nth-child(odd),.table__string__wrapper_withActions:nth-child(odd){
    background-color: rgb(236,236,249);
}
.table__string__updated{
    margin-left: 15px;
} 
.table__string__grade{
    display: flex;
    height: 30px;
    padding-top: 3px;
}
.table__string__actions{
    display: flex;
    align-items:center;
    padding-right: 20px;
}
.table__string__actions__delete,.table__string__actions__edit{
width: 50px;
height: 22px;
line-height: 22px;
text-align: center;
border-radius:3px;
}
.table__string__actions__delete{
    background-color:rgb(241,69,61);
    color:white;
}
.table__string__actions__edit{
    background-color:rgb(215,216,239);
    color:rgb(33,38,143);
    margin-left: 8px;
}
.table__string__actions__delete:hover,.table__string__actions__edit:hover{
    box-shadow: 0px 0px 10px 1px rgba(97, 97, 97, 0.144);
    cursor: pointer; 
    transition: box-shadow 0.2s ;
}
.container__footer{
    display: flex;
    align-items:center;
}
.container__footer__pagePopupBox{
    display: flex;
}
.footer__pagePopupBox__amountBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin:0 10px;
    border:1px solid rgb(176,173,191);
    border-radius:3px;
    width: 40px;
    padding: 0 5px 0 5px;
    cursor: pointer;
}
.footer__pagePopupBox__amountBox:hover{
    transition: all 0.3s;
    border-color: grey ;
}
.pagePopupBox__amountBox__icon{
    /* border:1px solid red; */
    /* width: 10px; */
}
.pagePopupBox__amountBox__icon img, .pagePopupBox__amountBox__icon_opened img{
    /* border:1px solid yellow; */
    margin-bottom: 2px;
    transition: all 0.3s;
}
.pagePopupBox__amountBox__icon_opened img{
    transform: rotate(180deg);
    transition: all 0.3s;
}
.pagePopupBox__amountBox__bg{
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
.pagePopupBox__amountBox__bg_none{
    display:none;
}
.pagePopupBox__amountBox__listAmount{
background-color: white;
box-shadow: 0px 0px 10px 1px rgba(97, 97, 97, 0.144);
width: 35px;
position: absolute;
bottom: 27px;
left:0;
z-index: 3;
border:1px solid grey;
border-radius:3px;
}
.pagePopupBox__amountBox__listAmount_none{
    display: none;
}
.pagePopupBox__amountBox__listAmount__amount{
height: 20px;
line-height: 20px;
padding-left:7px ;
/* border:1px solid red; */
}
.pagePopupBox__amountBox__listAmount__amount:hover{
color:white;
background-color:rgb(33, 38, 143);
}
.container__packsBox__emptyBox{
    font-size: 20px;
    height: 200px;
    display: flex;
    align-items:center;
    justify-content: center;
    color:rgb(127,127,128)
}
